<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tambah Data Siswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container">
      <ion-input label="NIS" labelPlacement="floating" [(ngModel)]="form.nis" fill="outline"></ion-input>
      <br>
      <ion-input label="Name" labelPlacement="floating" [(ngModel)]="form.name" fill="outline"></ion-input>
      <br>
      <ion-input label="Email" type="email" labelPlacement="floating" [(ngModel)]="form.email" fill="outline"></ion-input>
      <br>
      <ion-button expand="block">Tambah</ion-button>
    </div>
</ion-content>
