<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <p>UPDATE DATA KANDIDAT</p>
  </div>

  <div class="body">
    <div class="form">
      <ion-textarea label="NIS" label-placement="floating" fill="outline" placeholder="NIS"></ion-textarea>
      <ion-textarea label="Name" label-placement="floating" fill="outline" placeholder="Name"></ion-textarea>
      <ion-input type="file" class="file" fill="outline"></ion-input>
      <ion-button color="warning" class="edit">
        <p>Ubah</p>
      </ion-button>
    </div>
  </div>
</ion-content>
