<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" (click)="dashboard()">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="candidate">
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="candidate-details"> -->
      <!-- <ion-icon name="person"></ion-icon> -->
    <!-- </ion-tab-button> -->
    <ion-tab-button tab="about">
      <ion-icon name="help-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button  (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>