<ion-content>
  <!-- Card -->
  <ion-card  class="card">
    <img alt="Kandidat" src="../../assets/logo/person.jpg" class="kandidatPicture"/>
    <ion-card-header>
      <h4 class="title">Nama: Lorem ipsum dolor </h4>
      <h4 class="title">NIS: 12345678</h4>
    </ion-card-header>
    <ion-card-content>
    <p class="card-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
    </p>  
    </ion-card-content>
    <ion-button class="btn-more" (click)="open()">
      Selengkapnya
    </ion-button>
  </ion-card>


    <!-- Card -->
    <ion-card  class="card">
      <img alt="Kandidat" src="../../assets/logo/person.jpg" class="kandidatPicture"/>
      <ion-card-header>
        <h4 class="title">Nama: Lorem ipsum dolor </h4>
        <h4 class="title">NIS: 12345678</h4>
      </ion-card-header>
      <ion-card-content>
      <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
      </p>  
      </ion-card-content>
      <ion-button class="btn-more" (click)="open()">
        Selengkapnya
      </ion-button>
    </ion-card>

      <!-- Card -->
  <ion-card  class="card">
    <img alt="Kandidat" src="../../assets/logo/person.jpg" class="kandidatPicture"/>
    <ion-card-header>
      <h4 class="title">Nama: Lorem ipsum dolor </h4>
      <h4 class="title">NIS: 12345678</h4>
    </ion-card-header>
    <ion-card-content>
    <p class="card-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
    </p>  
    </ion-card-content>
    <ion-button class="btn-more" (click)="open()">
      Selengkapnya
    </ion-button>
  </ion-card>

</ion-content>
