.ion-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

*{
    font-family: 'QuicksandReguler', sans-serif;
}

.ion-content > .kepala{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px !important;
    // padding: 0 !important;
    // border: 2px solid blue;
}

.ion-content > .kepala > p{
    font-size: 18px;
    font-weight: bold;
    color: #3d3d3d;
    letter-spacing: 1.5px;
}

.ion-content > .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ion-content > .body > .row {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-bottom: 1px solid #ced4da;
}

.ion-content > .body > .row > .medium {
    font-size: 16px;
    color: #3d3d3d;
    margin: 0 !important;
    font-family: 'QuicksandMedium', sans-serif;
}

.ion-content > .body > .row > .small {
    font-size: 13px;
    color: #3d3d3d;
    margin: 0 !important;
    font-family: 'QuicksandMedium', sans-serif;
}