
<ion-content [fullscreen]="true">
  <div class="detail-contents">
    <div class="profile-container">
      <img src={{isi.data.data.gambar}} alt="">
      <div class="description">
        <div class="list">
          <p>Name: {{isi.data.data.nama}}</p>
        </div>
        <div class="list">
          <p>NIS: {{isi.data.data.nis}}</p>
        </div>
        <div class="list">
          <p>Kelas: {{isi.data.data.kelas}}</p>
        </div>
      </div>
    </div>
    <div class="description-candidate">
      <div class="vision">
        <h4>Visi</h4>
        <ol>
          {{isi.data.data.visi}}

          <!-- <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis laborum explicabo voluptatem quod ea corporis modi necessitatibus natus aperiam.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis laborum explicabo voluptatem quod ea corporis modi necessitatibus natus aperiam.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis laborum explicabo voluptatem quod ea corporis modi necessitatibus natus aperiam.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis laborum explicabo voluptatem quod ea corporis modi necessitatibus natus aperiam.</li> -->
        </ol>
      </div>
      <div class="mission">
        <h4>Misi</h4>
        <p>{{isi.data.data.misi}}</p>
        <ion-button (click)="pilih()" *ngIf="!isVoted">PILIH</ion-button>
        <ion-button *ngIf="isVoted" disabled>Sudah Memilih</ion-button>
      </div> 
    </div>
  </div>
</ion-content>
