<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <p>UPDATE DATA SISWA</p>
  </div>

  <div class="body">
    <div class="form">
      <ion-input class="input" label="NIS" label-placement="floating" fill="outline" placeholder="NIS"></ion-input>
      <ion-input class="input" label="Name" label-placement="floating" fill="outline" placeholder="Name"></ion-input>
      <ion-input class="input" label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
      <ion-button color="warning" class="edit">
        <p>Ubah</p>
      </ion-button>
    </div>
  </div>
</ion-content>
