<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail Akun</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <p>DETAIL AKUN SISWA</p>
  </div>
  <div class="account-details">

    <ion-label>
      Name: Student Name
    </ion-label>
    <ion-label>
      NIS : 12345678
    </ion-label>
    <ion-label>
      Email: student@student.com
    </ion-label>
    <ion-label>
      Kelas: XII IPA 1
    </ion-label>
    <ion-label>
      Status: siswa
    </ion-label>

  </div>
</ion-content>
