<ion-content class="ion-content">

  <div class="kepala">
    <ion-button class="add" (click)="tambahKandidat()">
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-button>

    <p>DAFTAR KANDIDAT</p>
  </div>

  <div class="body">
    
    <div class="card">
      <img src="../../../assets/logo/person.jpg" alt="">
      <div class="description">
        <div class="top">
          <p>Nama : Jim Jong Un</p>
          <p>NIS : 21416255201122</p>
          <p>Kelas : XII IPA 2</p>
        </div>
        <div class="bottom">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
          <div class="action">
            <ion-button color="warning" class="edit" (click)="editCandidate()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" class="delete">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>    
    </div>
  </div>
</ion-content>
