<ion-content class="ion-content">

  <div class="kepala">
    <ion-button class="add" (click)="tambahKandidat()">
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-button>

    <p>DAFTAR KANDIDAT</p>
  </div>

  <div class="body">
    
    <div class="card" *ngFor="let isi of isi" >
      <img src="{{ isi.gambar }}" alt="">
      <div class="description">
        <div class="top">
          <p>Nama : {{ isi.nama }} </p>
          <p>NIS : {{ isi.nis }} </p>
          <p>Kelas : {{ isi.kelas }} </p>
        </div>
        <div class="bottom">
          <p> {{ isi.visi }} </p>
          <div class="action">
            <ion-button color="warning" class="edit" (click)="editCandidate()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" class="delete">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>    
    </div>
  </div>
</ion-content>
