<ion-header>
  <ion-toolbar>
    <ion-button><ion-icon name="add"></ion-icon></ion-button>  
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card">
      <img alt="Silhouette of mountains" src="../../../assets/logo/person.jpg" />
      <ion-card-header>
        <h4 class="title">Nama: Lorem ipsum dolor </h4>
        <h4 class="title">NIS: 12345678</h4>
      </ion-card-header>
    <ion-card-content>
      <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
      </p>  
    </ion-card-content>

    
      <ion-button color="warning">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-card>

    <ion-card class="card">
      <img alt="Silhouette of mountains" src="../../../assets/logo/person.jpg" />
      <ion-card-header>
        <h4 class="title">Nama: Lorem ipsum dolor </h4>
        <h4 class="title">NIS: 12345678</h4>
      </ion-card-header>
    <ion-card-content>
      <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
      </p>  
    </ion-card-content>


      <ion-button color="warning">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-card>

    <ion-card class="card">
      <img alt="Silhouette of mountains" src="../../../assets/logo/person.jpg" />
      <ion-card-header>
        <h4 class="title">Nama: Lorem ipsum dolor </h4>
        <h4 class="title">NIS: 12345678</h4>
      </ion-card-header>
    <ion-card-content>
      <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
      </p>  
    </ion-card-content>
    <ion-button color="warning">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
    </ion-card>
</ion-content>
