<ion-content class="ion-content">

  <div class="kepala">
    <!-- <ion-button class="add">
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-button> -->

    <p>DATA SUARA</p>
  </div>

  <div class="body">
    
    <div class="card">
      <img src="../../../assets/logo/person.jpg" alt="">
      <div class="description">
        <div class="top">
          <p>Nama : Jim Jong Un</p>
          <p>NIS : 21416255201122</p>
          <p>Kelas : XII IPA 2</p>
          <p>Jumlah Suara : 69</p>
        </div>
      </div>    
    </div>
  </div>
</ion-content>
