<ion-content class="ion-content">

  <div class="kepala">
    <p>DATA SUARA</p>
  </div>
  <div class="body">
    <div class="card" *ngFor="let isi of isi">
      <img src="{{ isi.gambar }}" alt="">
      <div class="description">
        <div class="top">
          <p>Nama : {{ isi.nama }}</p>
          <p>NIS : {{ isi.nis }}</p>
          <p>Kelas : {{ isi.kelas }}</p>
          <p><b>Jumlah Suara : {{ isi.jumlah_suara }}</b></p>
        </div>
      </div>    
    </div>
  </div>
</ion-content>
