<!-- <ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail Kandidat</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <p>DAFTAR KANDIDAT</p>
  </div>

  <div class="candidate-details">
    <div class="card">
      <img src="../../../assets/logo/person.jpg" alt="">
      <div class="description">
        <div class="line">
          <p>Nama: Student</p>
        </div>
        <div class="line">
          <p>
            NIM:12345678
          </p>
        </div>
        <div class="line">
          <p>
            Kelas: XII IPA 1
          </p>
        </div>
      </div>  
    </div>
    <div class="vision-mission">
        <div class="top">
          <p>Vision</p>
          <ol>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore commodi officia facere odit dolorum.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, molestias.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore commodi officia facere odit dolorum.</li>
          </ol>
        </div>
        <div class="bottom">
          <p>Mission</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam natus nostrum modi ratione quaerat hic.
          </p>
        </div>
    </div>

  </div>
</ion-content>
