<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail Data Siswa</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <p>DETAIL DATA SISWA</p>
  </div>
  <div class="student-details"  *ngIf="isi">
    <ion-label>Name : {{ isi.name }}</ion-label>
    
    <ion-label>NIS: {{ isi.nis }}</ion-label>

    <ion-label>Email: {{ isi.email }}</ion-label>
    <ion-label>Created At: {{ isi.created_at }}</ion-label>
    <ion-label>Updated At: {{ isi.updated_at }}</ion-label>
  </div>
</ion-content>
