<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="daftar-akun">
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="daftar-siswa">
      <ion-icon name="person-add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="daftar-kandidat">
      <ion-icon name="person-add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="data-suara">
      <ion-icon name="stats-chart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
