<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <p>TAMBAH DATA KANDIDAT</p>
  </div>

  <div class="container" *ngIf="isi">
    <ion-input label="Nama" [(ngModel)]="isi.name" [disabled]="true" labelPlacement="floating" fill="outline"></ion-input>
    <ion-input label="NIS" [(ngModel)]="isi.nis" [disabled]="true" labelPlacement="floating" fill="outline"></ion-input>
    <ion-list>
      <ion-item>
        <ion-select 
        placeholder="Kelas"
        (ionChange)="handleChange($event)"
        >
          <ion-select-option  *ngFor="let kls of kelas" value="{{kls}}"  >{{ kls }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <img alt="picture" id="image" src="{{ picture }}">
    <ion-input type="file" id="file-input" accept="image/png, image/jpeg, image/jpg" (change)="loadImage($event)" class="file" fill="outline"></ion-input>
    <ion-input [(ngModel)]="form.visi" label="Visi" labelPlacement="floating" fill="outline"></ion-input>
    <ion-input [(ngModel)]="form.misi" label="Misi" labelPlacement="floating" fill="outline"></ion-input>
    <!-- Masalah filenya disini!!! -->
    <ion-button expand="block" class="add-candidate" color="primary" (click)="tambah()">Tambah</ion-button>
  </div>
</ion-content>
