*{
  font-family: 'QuicksandReguler', sans-serif;
  color: #3d3d3d;
}

.ion-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ion-content > .kepala{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px 0 10px !important;
  // border: 1px solid #333;
  margin-bottom: 10px;
}

.ion-content > .kepala > p{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.ion-content > .container {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ion-content > .container > .input {
  --border-radius: 4px !important;
}

.ion-content > .container > .input-file {
  border: 1px solid #ced4da;
}

.ion-content > .container > .add-candidate {
  --border-radius: 4px !important;
  --box-shadow: none;
  font-family: 'QuicksandSemiBold', sans-serif;
}