<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tambah Kandidat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container">
      <ion-input label="Visi" labelPlacement="floating" fill="outline"></ion-input>
      <br>
      <ion-input label="Misi" labelPlacement="floating" fill="outline"></ion-input>
      <br>
      <ion-input type="file"></ion-input>
      <br>
      <ion-button expand="block">Tambah</ion-button>
    </div>
</ion-content>
