<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title> 
    </ion-toolbar>
  </ion-header>
  <div class="container">

    <div class="img-container">
      <img src="../../assets/logo/LOGO-TUT-WURI-HANDAYANI-1-1024x1024.png " style="height: 200px; width: 200px;" >
    </div>
    
    <ion-input label="NIS" type="text" labelPlacement="floating" fill="outline" size="small"></ion-input>
    <br>
    <ion-input type="email" label="Email" labelPlacement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Kelas" labelPlacement="floating" fill="outline" ></ion-input>
    <br>
    <ion-input type="password" label="Password" labelPlacement="floating" fill="outline"></ion-input>
    <br>
    <ion-input type="password"label="Confirmation Password" labelPlacement="floating" fill="outline"></ion-input>
    <br>

    <ion-button (click)="register" expand="block"  size="large"> Register </ion-button>
    <br>
    <label>Sudah Punya akun? <label (click)="login()" class="lgn-pg">Login</label> </label>
  </div>
</ion-content>
