<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <p>DAFTAR SISWA</p>
  </div>

  <div class="body">
    <div class="row">
      <div class="left">
        <p class="medium">Student Name</p>
        <p class="small">student@gmail.com</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p class="medium">Student Name</p>
        <p class="small">student@gmail.com</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p class="medium">Student Name</p>
        <p class="small">student@gmail.com</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p class="medium">Student Name</p>
        <p class="small">student@gmail.com</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p class="medium">Student Name</p>
        <p class="small">student@gmail.com</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p class="medium">Student Name</p>
        <p class="small">student@gmail.com</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p class="medium">Student Name</p>
        <p class="small">student@gmail.com</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
