<ion-content [fullscreen]="true" class="ion-content">
  <div class="kepala">
    <ion-button class="add"(click)="tambahSiswa()">
      <ion-icon size="large" name="add-outline" color="light"></ion-icon>
    </ion-button>

    <p>DAFTAR SISWA</p>
  </div>

  <div class="body">
   
    <div class="row"  *ngFor = "let isi of isi">
      <div class="left">
        <p class="medium" (click)="studentDetails(isi.id)">{{ isi.name }}</p>
        <p class="small">{{ isi.nis }}</p>
      </div>
      <div class="right">
        <ion-button color="warning" class="edit" (click)="editStudent(isi.id)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" class="delete" (click)="delete(isi.id)">
          <ion-icon color="light" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
