
<ion-content [fullscreen]="true" class="ion-padding">

  <div class="jumbotron-contents">
    <img src="../../assets/logo/hehe.png" alt="" srcset="">
    <div class="description">
      <h4 style="color: #3d3d3d;margin-bottom: 0px;">E-Voting</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui placeat eius mollitia perspiciatis natus fugiat rem ipsa, iure, modi voluptatibus molestias inventore iste esse quidem est nihil itaque? Nihil
      </p>
      <ion-button class="btn-pilih">
        Ayo Pilih
      </ion-button>
    </div>
  </div>

  <!-- Card -->
  <ion-card  class="card">
    <img alt="Kandidat" src="../../assets/logo/person.jpg" class="kandidatPicture"/>
    <ion-card-header>
      <h4 class="title">Nama: Lorem ipsum dolor </h4>
      <h4 class="title">NIS: 12345678</h4>
    </ion-card-header>
    <ion-card-content>
    <p class="card-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
    </p>  
    </ion-card-content>
    <ion-button class="btn-more" (click)="open()">
      Selengkapnya
    </ion-button>
  </ion-card>


    <!-- Card -->
    <ion-card  class="card">
      <img alt="Kandidat" src="../../assets/logo/person.jpg" class="kandidatPicture"/>
      <ion-card-header>
        <h4 class="title">Nama: Lorem ipsum dolor </h4>
        <h4 class="title">NIS: 12345678</h4>
      </ion-card-header>
      <ion-card-content>
      <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
      </p>  
      </ion-card-content>
      <ion-button class="btn-more" (click)="open()">
        Selengkapnya
      </ion-button>
    </ion-card>

      <!-- Card -->
  <ion-card  class="card">
    <img alt="Kandidat" src="../../assets/logo/person.jpg" class="kandidatPicture"/>
    <ion-card-header>
      <h4 class="title">Nama: Lorem ipsum dolor </h4>
      <h4 class="title">NIS: 12345678</h4>
    </ion-card-header>
    <ion-card-content>
    <p class="card-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor cumque quibusdam perspiciatis commodi. Omnis, eveniet. Velit in dolor ut?
    </p>  
    </ion-card-content>
    <ion-button class="btn-more" (click)="open()">
      Selengkapnya
    </ion-button>
  </ion-card>

  <!-- Modal -->
  <!-- <ion-modal [isOpen]="detailKandidat">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="open(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal> -->
  
</ion-content>    






